<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright 2007 EDL FOUNDATION
  ~
  ~ Licensed under the EUPL, Version 1.0 or as soon they
  ~ will be approved by the European Commission - subsequent
  ~ versions of the EUPL (the "Licence");
  ~ you may not use this work except in compliance with the
  ~ Licence.
  ~ You may obtain a copy of the Licence at:
  ~
  ~ http://ec.europa.eu/idabc/eupl
  ~
  ~ Unless required by applicable law or agreed to in
  ~ writing, software distributed under the Licence is
  ~ distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied.
  ~ See the Licence for the specific language governing
  ~ permissions and limitations under the Licence.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--this file is only used while generating the DDL. persistence.xml is used in deployment. -->
<hibernate-configuration>
    <session-factory name="postgres">
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
        <mapping class="eu.europeana.core.database.domain.User"/>
        <mapping class="eu.europeana.core.database.domain.SocialTag"/>
        <mapping class="eu.europeana.core.database.domain.SavedSearch"/>
        <mapping class="eu.europeana.core.database.domain.SavedItem"/>
        <mapping class="eu.europeana.core.database.domain.EuropeanaId"/>
        <mapping class="eu.europeana.core.database.domain.EuropeanaCollection"/>
        <mapping class="eu.europeana.core.database.domain.AuthenticationToken"/>
        <mapping class="eu.europeana.core.database.domain.Token"/>
        <mapping class="eu.europeana.core.database.domain.SearchTerm"/>
        <mapping class="eu.europeana.core.database.domain.CarouselItem"/>
        <mapping class="eu.europeana.core.database.domain.IndexingQueueEntry"/>
        <mapping class="eu.europeana.core.database.domain.DashboardLog"/>
    </session-factory>
</hibernate-configuration>