<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

    <persistence-unit name="europeana">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <class>eu.europeana.core.database.domain.User</class>
        <class>eu.europeana.core.database.domain.SocialTag</class>
        <class>eu.europeana.core.database.domain.SavedSearch</class>
        <class>eu.europeana.core.database.domain.SavedItem</class>
        <class>eu.europeana.core.database.domain.EuropeanaId</class>
        <class>eu.europeana.core.database.domain.EuropeanaCollection</class>
        <class>eu.europeana.core.database.domain.AuthenticationToken</class>
        <class>eu.europeana.core.database.domain.Token</class>
        <class>eu.europeana.core.database.domain.SearchTerm</class>
        <class>eu.europeana.core.database.domain.CarouselItem</class>
        <class>eu.europeana.core.database.domain.IndexingQueueEntry</class>
        <class>eu.europeana.core.database.domain.DashboardLog</class>
    </persistence-unit>

</persistence>