/* hyperlinks */
a:link
{
	color:#154273;
	text-decoration:none;
}

a:visited
{
	color:#696969;
	text-decoration:none;
}

a:hover,a:visited:hover
{
	color:#696969;
	text-decoration:underline;
}

.user_nav a:link,.user_nav a:visited
{
	color:#535353;
}

.user_nav a:hover,.user_nav a:visited:hover
{
	color:#696969;
}

.azure #search .search_advanced table td
{
	background:#eaeaea;
}

/* results pages */
.azure .brief-thumb-container,.azure .brief-thumb-container-listview
{
	background:#e5e5e5;
}

.azure #item-detail h1
{
	background:#046f96;
	color:#fff;
}

.blue .nav_main li.current a:link,.blue .nav_main li.current a:visited
{
	color:#000;
}

/* breadcrumbs
.blue .breadcrumb {color: #767676;}
.blue .breadcrumb a:link, .blue .breadcrumb a:visited {color: #154273; text-decoration: underline;}
 search forms
.blue #search #search_simple {background: #eaeaea;}
.blue #search .search_advanced table td {background: #eaeaea;}
 results pages */
.blue #item-detail h1
{
	background:#01689b;
	color:#fff;
}

/* information boxes  */
.brown .box
{
	border:1px solid #f0eade;
}

.brown #item-detail h1
{
	background:#876220;
	color:#fff;
}

.azure .nav_bar,.azure .nav_main
{
	background:#046f96;
}

.azure .nav_main a,.blue .nav_main a,.brown .nav_main a
{
	color:#fff;
}

.azure .nav_main a:hover,.azure .nav_main li.current,.azure .nav_bottom,.azure .box h4
{
	background:#bddfed;
}

.azure .box,.blue .box
{
	border:1px solid #deeff6;
}

.azure .box.open,.blue .box.open,.brown .box.open
{
	background:transparent;
}

.azure .box.closed,.blue .box.closed
{
	background:#deeff6;
}

.azure #search #search_simple,.blue .title_bar,.brown #search #search_simple
{
	background:#fff;
}

.blue .nav_bar,.blue .nav_main
{
	background:#01689b;
}

.blue .nav_main a:hover,.blue .nav_main li.current,.blue .nav_bottom,.blue .box h4
{
	background:#cce0f1;
}

.brown .title_bar,.brown .box.closed,.brown .box h4,.brown #search .search_advanced table td,.brown .brief-thumb-container,.brown .brief-thumb-container-listview
{
	background:#f0eade;
}

.brown .nav_bar,.brown .nav_main
{
	background:#876220;
}

.brown .nav_main a:hover,.brown .nav_main li.current,.brown .nav_bottom
{
	background:#e0d4bc;
}