/* Print -------------------------------------------------------------------- */
@media print {

    body {
        background: #ffffff;
    }

    /*.container_12, .container_16 {*/
        /*width: 100%;*/
    /*}*/

    #user-bar,
    .nav_bar,
    .breadcrumb,
    #search,
    #left-col,
    .pagination,
    #view-select {
        display: none;
    }

    #right-col {
        width: 100%;
    }

    .page {
        background: #fff;
        -moz-box-shadow: 0px 0px 0px 0px #fff;
        -webkit-box-shadow: 0px 0px 0px #fff;
        box-shadow: 0px 0px 0px #fff;
        margin-top: 32px;
        padding: 0;
    }

    a.img-url:link,
    a.img-url:visited {
        background: transparent;
        font-weight: 700;
        text-decoration: underline;
        margin-top: 1em;
    }

    a.img-url:link:after,
    a.img-url:visited:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
    }

    table.item, table.grid, table.list {
        width: 100%;
    }


}