
/* GLOBAL ***********************************/

table caption {
    display: none;
}

/* USERBAR **********************************/

#userBar {
    margin: 1em 0 0 0;
    text-align: right;
}
#userBar ul {
    float: right;
}
#userBar ul li {
    display: inline;
    padding: 0;
    margin: 0 1em 0 0;
}
#userBar select#dd_lang {
    float: right;
    margin: 0 1em;
}

/* ADMINBLOCK ********************************/

#adminBlock table tr {
    display: inline;
}

/* SEARCH ************************************/

#search legend {
    display: none;
}

/* RESULTS ************************************/

#result_sort, #result_view_select {
    text-align: right;
}

#results table, #itemMetaData table {

    width: 100%;
}

#results table td {
    background: transparent;
    vertical-align: top;
}

#results .brief-thumb-container,
#results .brief-thumb-container-listview,
#results #img-full {
    background:none repeat scroll 0 0 #E5E5E5;
    overflow:hidden;
    padding:0.5em;
    text-align:center;
}

#results .brief-thumb-container img,
#results .brief-thumb-container-listview img,
#results .related-thumb-container img,
#results #img-full img {
    -moz-box-shadow:3px 3px 4px #BBBBBB;
    border:4px solid #FFFFFF;
}

#result .brief-content-container {
    min-height:75px;
    padding:0.5em;
}

#results ul {
    list-style-type:none;
    margin:0;
    padding:0;
}


