{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Europeana - Accessibility" %}{% endblock %}

{% block content %}
<h1>{% trans "Accessibility" %}</h1>
<p>
{% blocktrans %}Europeana.eu features and content have been designed to be universally
accessible by users and user agents/devices. We strive to meet the WC3 Web
Content Accessibility Guidelines Version 1.0{% endblocktrans %}.
</p>
<p>
{% blocktrans %}Our User Centred Design team frequently conducts usability testing of
Europeana.eu navigation, flow, labels, and consistency. Furthermore,
we will produce a version - post this prototype phase - for blind individuals{% endblocktrans %}.
</p>
<p>
{% blocktrans %}Some of the accessibility features of our site include{% endblocktrans %}:
</p>
<ul  class="point">
<li>{% trans "Meaningful page titles to help with orientation" %}</li>
<li>{% trans "Most all images have either a meaningful alt-text (text equivalent)" %}</li>
<li>{% trans "Minimal use of frames" %}</li>
<li>{% trans "Use of resizable fonts" %}</li>
<li>{% trans "Use Cascading Style Sheets (CSS) to separate content from presentation" %}</li>
<li>{% trans "Notifying a user when a link opens a new window" %}</li>
<li>{% trans "The (core) functionalities are usable without JavaScript" %}</li>
</ul>

<p>
{% blocktrans %}Please send us any feedback or questions on the accessibility of
Europeana.eu with the{% endblocktrans %}
<a href="contact.html">{% trans "feedback form" %}</a>.
</p>

{% endblock %}
