body {
  /*background: #e5e5e5 url(../images/bg-body.png) top left repeat-x;;*/
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
a:link, a:active {
    color: #0f757e;
}

a:visited, a:hover {
    color: #249aa6;
}

#container {
    overflow: hidden;
    margin-top: 20px;
}

.inner {
    padding: 1em;
    overflow: hidden;
}

#header {
    overlow: hidden;
    height: 80px;
    margin-bottom: 1em;
}


#main {
    background: transparent;
    overflow: hidden;
}

#main.home {
    text-align:center;
}

.page {
  position: relative;
  padding: 0;
  background: #fff;
  -moz-box-shadow: 3px 3px 4px #bbb;
  -webkit-box-shadow: 3px 3px 4px #bbb;
  box-shadow: 3px 3px 4px #bbb;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-right: 7px;
  margin-bottom: 7px;
}

#identity h1 {
    display: none;
}

#logo-home {
    margin: 80px 0 40px;
}

#search {
    background: #edf3f3;
    overflow: hidden;
}

/*#search_simple input.txt-input {*/
    /*width: 165px;*/
    /*border: 1px solid #cccccc;*/
    /*height: 20px;*/
/*}*/
.btn-search {
    background: #ef9527;
    color: #fff;
}

#search_simple.search_home input.txt-input {
    width: 450px;
}

#search_advanced {
    background: #fff;
}
input[type=text], input[type=password]{
    border: 1px solid #ccc;
    height: 1.85em;
    width: 150px;
}
#top-bar {
    text-align: right;
    /*background: #edf3f3;*/
    overflow: hidden;
}
#top-bar select {
    float:right;
}
#top-bar ul, .breadcrumb ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#top-bar li, .breadcrumb li{
    float: right;
    margin: 0;
    padding: 0 1em 0 0;
    list-style: none;
    diplay: inline;
}

#facet-list {
    /*margin-top: 50px;*/
}

#facet-list h4 {
    color: #555;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.25em;
}

#facet-list h5 {
    color: #555;
    margin: 0 0 10px 0;
    font-size: 1em;
    font-weight: bold;
    /*border-bottom: 1px solid #ccc;*/
}

#facet-list h6 {
    color: #333;
    margin: 10px 0;
    font-size: 1em;
    font-weight: normal;
}

#facet-list div.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100px;
    margin-bottom: 10px;

}

#facet-list .add {
    background: transparent url(../images/toggle_plus.gif) no-repeat top left;
    padding: 0 0 0 16px;
}

#facet-list .remove {
    background: transparent url(../images/toggle_minus.gif) no-repeat top left;
    color: #555;
    padding: 0 0 0 16px;
    font-weight: bold;
    text-decoration: none;
}

/* breadcrumb
=======================*/

/*#breadcrumbs {*/
    /*background: #edf3f3;*/
    /*overflow: hidden; */
/*}*/

/*#breadcrumbs ul {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
    /*font-size: 1.25em;*/
/*}*/

/*#breadcrumbs ul li {*/
    /*float: left;*/
    /*margin: 0 0 0 0;*/
    /*padding: 0 0 0 0;*/
    /*border: none;*/
    /*min-width: 15px;*/
/*}*/

/*#breadcrumbs ul a {*/
    /*padding: 0 4px 0 0;*/
    /*text-decoration: none;*/
    /*color: #666;*/
    /*float: left;*/
    /*display: block;*/
/*}*/

/*#breadcrumbs ul a:hover {*/
    /*color: #666;*/
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
/*}*/

/*#breadcrumbs ul .first {*/
    /*font-weight: bold;*/
    /*cursor: default;*/
    /*color: #333;*/
    /*text-decoration: none;*/
    /*margin-bottom: 20px;*/
    /*margin-right: 10px;*/
/*}*/

#query_breadcrumbs
{
	margin: 1.75em 0 1em 0;
	padding:0;
	vertical-align:baseline;
}

#query_breadcrumbs dl {
    margin: 0;
}

#query_breadcrumbs dl dt, #query_breadcrumbs dl dd
{
    font-size: 1.5em;
}

#query_breadcrumbs dl dd
{
	background:url(skin/arrows.png) 0 4px no-repeat;
	margin:0;
	padding-left:1.25em;
}

#query_breadcrumbs dl dt,#query_breadcrumbs dl dd,ul.nav_query_breadcrumbs li
{
	display:inline;
}

#query_breadcrumbs dl dd.nobg,ul.nav_query_breadcrumbs li.nobg
{
	background:none;
}

#query_breadcrumbs h3
{
	float:left;
	font-weight:400;
	margin:0;
	padding:0;
}


#viewselect {
    float: right;
}

#viewselect a {
    text-decoration: none;
}

/* pagination */
/*.pagination {*/
    /*margin: 0.5em 0 0 0;*/
/*}*/

/* objTypes */
#objTypes {

}

#objTypes div:first-child {
    height: 30px;
    margin-right: 20px;
    float: left;
}

#objTypes ul, #pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

#objTypes ul li, #pagination ul li {
    float: left;
    margin: 0 0 0 0;
    padding: 0 8px 0 0;
    border: none;
    min-width: 15px;
}

table caption {
    background: #000;
    color: #fff;
    display: none;
}

.attention {
    border: 1px solid #ff6600;
    background: #ffffcc;
    padding: 10px;
    margin-bottom: 10px;
}

.msg {
    padding: 4px;
    font-size: 90%;
}

.msg-hide {
    display: none;
    padding: 0 4px;
    text-align: left;
    font-size: 90%;
}

.disabled {
    color: #888;
}

#results {

}

/* brief search results */

#multi {
    border-collapse: collapse;
    background-color: transparent;
    font-size: 90%;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 20px;
}

#multi h6 {
    font-weight: 500;
    font-size: 1.25em;
    color: #000;
    margin: 0 0 .3em 0;
    padding: 0;
}

#multi ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#multi ul li {
    margin: 0;
    padding: 0;
    /*display: inline-block;*/
    color: #555;
    line-height: 1.25em;
}

#multi td {
    padding: 0 8px 20px 0;
    /*max-width: 25%;*/
}

#multi td p {
    margin: 0;
    color: #555;
}
.brief-thumb-container, .brief-thumb-container-listview, #img-full {
    background: #e5e5e5;
    overflow: hidden;
    text-align: center;
    padding: 0.5em;
 }

.brief-thumb-container img, .brief-thumb-container-listview img, .related-thumb-container img, #img-full img{
    border: 4px solid #fff;
    -moz-box-shadow: 3px 3px 4px #bbb;
    -webkit-box-shadow: 3px 3px 4px #bbb;
    box-shadow: 3px 3px 4px #bbb;
 }
.brief-content-container {
    /*border: 1px solid #e5e5e5;*/
    padding: .5em;
    min-height: 75px;
}
/* table wraps item detail / img and text
================================================*/
#item-detail #img-full {
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;

}

#item-detail h4 {
    border-bottom: solid 1px #ccc;
    /*color: #333;*/
    margin: 0 0 10px 0;
    padding: 0 0 .25em 30px;
}

#item-detail h4.SOUND {
    background: url(../images/icon-sound.gif) left top no-repeat;
}

#item-detail h4.TEXT {
    background: url(../images/icon-page.gif) left top no-repeat;
}

#item-detail h4.VIDEO {
    background: url(../images/icon-video.gif) left top no-repeat;
}

#item-detail h4.IMAGE {
    background: url(../images/icon-image.gif) left top no-repeat;
}


#item-detail table th {font-weight: bold; padding-right: 10px; text-align: right;}


/* UI Button styles */
.fg-button {
    outline: 0;
    margin: 0 4px 0 0;
    padding: .35em 0.5em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    zoom: 1;
    /*color: #cc6600;*/
}

.fg-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

a.fg-button {
    float: left;
}

/* remove extra button width in IE */
button.fg-button, input.fg-button {
    width: auto;
    overflow: visible;
}

.fg-button-icon-left {
    padding-left: 2.1em;
}

.fg-button-icon-right {
    padding-right: 2.1em;
}

.fg-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}

a.fg-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}
button.fg-button-icon-right .ui-icon {
     left: auto;
    right: 1em;
    margin-left: 0;   
}
.fg-button-icon-solo {
    display: block;
    width: 8px;
    text-indent: -9999px;
}

/* solo icon buttons must have block properties for the text-indent to work */

.fg-buttonset .fg-button {
    float: left;
}

.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button {
    margin-right: -1px;
}

.fg-toolbar {
    padding: .15em .25em;
    margin: 0;
}

.fg-toolbar .fg-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.fg-toolbar .fg-button {
    font-size: 1em;
}

/* ui accordion */

/**
 * ----------------------------------------------------------------------------
 * toggleElements.css - Stylesheet for jQuery-Plugin toggleElements
 * ----------------------------------------------------------------------------
 */

/* Screen ------------------------------------------------------------------- */

@media projection, screen {

/* Toggler - default style */
    .toggler {
        margin: 10px 0;
        border-bottom: solid 1px #ccc;
        cursor: pointer;
        font-size: 1.0em;
        font-weight: bold;
        line-height: 30px;
        display: block;
        text-decoration: none;
    }

    .toggler-closed {
        color: #333;
        padding-left: 8px;
        height: 30px;
        background: transparent url(../images/togglerc.gif) center right no-repeat;

    }

    .toggler-closed:hover {
        color: #000;
        padding-left: 8px;
        height: 30px;
        background: transparent url(../images/togglerch.gif) center right no-repeat;
    }

    .toggler-opened {
        color: #333;
        padding-left: 8px;
        height: 30px;
        background: transparent url(../images/togglero.gif) center right no-repeat;
    }

    .toggler-opened:hover {
        color: #000;
        padding-left: 8px;
        height: 30px;
        background: transparent url(../images/toggleroh.gif) center right no-repeat;

    }

/* Container - default style */
    .toggler-c {
    }

    .toggler-c-closed {
        background: transparent;
        margin: -10px 0px 10px 0px;
        padding: 4px;
    }

    .toggler-c-opened {
        margin: -10px 0px 10px 0px;
        padding: 4px;
        background: transparent;
    }

}

/* Print -------------------------------------------------------------------- */
@media print {

    .toggler-c {
        margin-bottom: 25px;
    }

    .toggler {
        display: none;
    }

}

/* Login/register */
.login-register form {
}

.login-register label {
    font-weight: bold;
}

.login-register label.norm {
    font-weight: normal;
}

.login-register input {
    display: block;
    margin-bottom: 1em;
}

.login-register input.inline {
    display: inline;
    margin: 0 0 0 0;
    line-height: 2em;
}

.login-register p {
    font-size: 85%;
    padding: 5px;
    font-weight: bold;
}

.login-register p.failure {
    background-color: firebrick;
    color: #fff;
}

.login-register p.success {
    background-color: green;
    color: #fff;
}

#regForm fieldset {
/*height: 20em;*/
    width: 200px;
    border: 0;
    margin: 0;
    padding: 1em;
    float: left;
}

#regForm fieldset legend {
    font-size: 4em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #888;
}

#regForm fieldset legend span {
    display: none;
}

#regForm fieldset h3 {
/*height: 2em;*/
    font-size: 1.25em;
    margin: 0 0 20px 0;
}

#regForm fieldset div.help {
    color: #333;
    font-size: 85%;
    font-weight: normal; /*margin: 0 0 20px 0;*/
    min-height: 6em;
}

#regForm fieldset label {
/*font-size: ;*/
    display: block;
    line-height: 1.5em;
}

#regForm fieldset input {
/*font-size: ;*/
/*height: 1.2em;*/
}

/* Error Styling */
#regForm fieldset.error,
#regForm fieldset.error legend,
#regForm fieldset.error div.help {
    color: #FFCC33;
}

#regForm fieldset strong.error {
    color: #fff;
    background-color: #CC0000;
    padding: 0.2em;
    font-size: 0.7em;
    font-weight: bold;
    display: block;
}

/* Part 4 Styling */
#regForm #pt4 {
    clear: both;
    width: 700px; /*height: 2em;*/
    border: 1px dotted #CCC;
    border-width: 1px 0;
    padding: 1em 0;
}

#regForm #pt4 legend {
    display: none;
}

#regForm #pt4 h3 {
    display: none;
}

#regForm #pt4 #disclaimer-text {
    width: 50em;
    float: left;
    font-size: 0.7em;
    float: left;
    margin-right: 10px;
}

/*
#regForm #pt4 #agree {
    width: 15em;
    float: left;
    color: #000;
    float: left;
    }
*/
#regForm #pt4 #agree input#disclaimer {
    float: left;
    margin-right: 10px;
}

.provider {
    color: #ff6600;
}

.ui-dialog {

    background: #fff;
    height: 200px;
}

