<ul>
  {% comment %}
  <li><a href="usingeuropeana.html" class="">Using Europeana</a></li>
  <li><a href="{% url accessibility lang %}" class="">Accessibility</a></li>
  <li><a href="sitemap.html"  class="">Sitemap</a></li>
  <li><a href="termsofservice.html" class="">Terms and conditions</a></li>
  <li><a href="privacy.html" class="">Privacy</a></li>
  <li><a href="languagepolicy.html" class="">Language policy</a></li>
  <li><a href="contact.html" class=""><span  class="fg-red">Contacts | Send us feedback</span></a></li>
  <li class="signoff">co-funded by the European Union<img src="{{ MEDIA_URL }}images/eu-flag.gif" alt="icon-european union flag"/></li>
  {% endcomment %}
</ul>
