<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Europeana Static pages management</title>
</head>
<body>
<h3>The following static pages are available</h3>
<p>
  {% for page in pages %}
    <a href="/{{ page }}">{{ page }}</a>
    <br/>
  {% endfor %}
</p>

<h3>Manage translations</h3>
To work with translations please go to <a href="/rosetta/pick/">here</a>

</body>
</html>
