body {
    margin: 0px;
}

body img {
    border: none;
}

#welcome {
    height: auto;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px dotted;
}

#logo {
    text-align: left;
}

#language_select {
    position: absolute;
    right: 5px;
    top: 5px;
}

#footer {
    padding-top: 5px;
    border-top: 1px dotted;
    text-align: center;
    float: left;
    width: 100%;
}

#viewselectnav {
    position:absolute;
    right:5px;
    top:5px;
    width: auto;
    background-color: lightgrey;
}

#viewselectnav img {
    padding: 5px 5px 0px 5px;
}

#viewselectnav .buttonpressed {
    border: 1px dotted;
    padding-top:5px;
    background-color: LightSlateGray;
}

.result_list, .autolist {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    float: left;
}

.result_list li, .autolist li {
    border-bottom: 1px dotted;
}

.result_list li.withimage {
    height: 55px;
}

.result_list .imageonly {
    border-bottom:1px dotted;
    float:left;
    width:100%;
}

.result_list li a, .autolist li a {
    color: black;
    display: block;
    text-decoration: none;
    position: relative;
}

.result_list li.withimage a {
    height: 55px;
}

.result_list li.withimage img {
    margin-left: 5px;
    max-height: 55px;
    max-width: 85px;
    height: auto;
    overflow: hidden;
    width: auto;
    position:absolute;
    top:0;
    left:0;
}

#TEXTitem {
	background: url("../images/grad-page-large.gif") left top repeat-x !important;
}

#IMAGEitem {
	background: url("../images/grad-image-large.gif") left top repeat-x !important;
}

#VIDEOitem {
	background: url("../images/grad-video-large.gif") left top repeat-x !important;
}

#SOUNDitem {
	background: url("../images/grad-sound-large.gif") left top repeat-x !important;
}

#TEXT_gradientitem {
	background: url("../images/grad-page.gif") left top no-repeat !important;
}

#IMAGE_gradientitem {
	background: url("../images/grad-image.gif") left top no-repeat !important;
}

#VIDEO_gradientitem {
	background: url("../images/grad-video.gif") left top no-repeat !important;
}

#SOUND_gradientitem {
	background: url("../images/grad-sound.gif") left top no-repeat !important;
}

.result_list li.withimage .comment {
    margin-left: 95px;
    color: rgb(127, 127, 127);
    display: block;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result_list li.withimage .name {
    margin-left: 95px;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: large;
    font-weight: bold;
}

.result_list li.withimage .iteminfo {
    font-size: 12px;
    margin-left: 95px;
    margin-top: 3px;
}

.arrow {
	position: absolute;
	width: 8px;
	height: 13px;
	right: 5px;
	bottom: 5px;
	margin: 0;
	background: url("../iwebkit/images/arrow.png") 0 0 no-repeat;
}

#imagelist {
    text-align: center;
    display:block;
}

#imagelist img, #treasures img {
	max-height: 113px;
	max-width: 80px;
	width: auto;
	height: auto;
	position: relative;
	float: center;
	left: 0px;
    top: 0px;
}

.imageresult {
	width: 80px;
	height: 113px;
	max-width: 80px;
	max-height: 113px;
    float: left;
}

.result_list li.textonly {
    height: auto;
}
.result_list li.textonly a {
    font-size: 14px;
    font-weight: normal;
    height: auto;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
}

#resultnavigation {
    text-align: center;
    background-color: lightgrey;
    float: left;
    width: 100%;
}

#resultinformation, .autolist .title {
    background-color: lightgrey;
    border-top: 1px dotted;
    border-bottom: 1px dotted;
    font-weight: bold;
}

#resultnavigation a {
    text-decoration: none;
}

#resultnavigation #pagination-current {
    font-weight: bold;
}

#resultnavigation .pagination {
    margin-left: 2px;
}

.maplink {
    font-weight: bold;
}

.autolist #detailviewbox {
    text-align: center;
    margin: 0px;
}

.autolist img {
    vertical-align:middle;
}