{% load i18n %}
SendUsFeedback_t={% trans "#SendUsFeedback_t[Send us feedback]" %}
PickUserName_t={% trans "#PickUserName_t[Your username will be displayed when you have logged in]" %}
Search_t={% trans "#Search_t[Search]" %}
FindOutMore_t={% trans "#FindOutMore_t[Find out more]" %}
NoScript_t={% trans "#NoScript_t[To make optimal use of this website you need to have JavaScript activated]" %}
Items_t={% trans "#Items_t[Items]" %}
english_t={% trans "#english_t[English (eng)]" %}
Contributors_t={% trans "#Contributors_t[Contributors]" %}
dcterms_hasFormat_t={% trans "#dcterms_hasFormat_t[Has format]" %}
APlaceToShareIdeas_t={% trans "#APlaceToShareIdeas_t[a place for inspiration and ideas. Search through the cultural collections of Europe, connect to other user pathways and share your discoveries.]" %}
austria_t={% trans "#austria_t[Austria]" %}
EmailAddress_t={% trans "#EmailAddress_t[Email address]" %}
other_t={% trans "#other_t[Other]" %}
CheckTheFaqs_t={% trans "#CheckTheFaqs_t[Check the FAQs - they may cover your feedback]" %}
czech_t={% trans "#czech_t[Czech Republic]" %}
malta_t={% trans "#malta_t[Malta]" %}
OpensInNewWindow_t={% trans "#OpensInNewWindow_t[Opens in a new window]" %}
EmailAlreadyRegistered_t={% trans "#EmailAlreadyRegistered_t[This email is already registered]" %}
croatia_t={% trans "#croatia_t[Croatia]" %}
ShowAll_t={% trans "#ShowAll_t[Show all]" %}
AltPrint_t={% trans "#AltPrint_t[Print this page]" %}
italyRome_t={% trans "#italyRome_t[Italy-Rome]" %}
ChooseLanguage_t={% trans "#ChooseLanguage_t[Choose a language]" %}
languageDropDownList_t={% trans "#languageDropDownList_t[Language]" %}
registrationSucceed_t={% trans "#registrationSucceed_t[You have successfully registered]" %}
Provider_t={% trans "#Provider_t[Provider]" %}
russiaMoscow_t={% trans "#russiaMoscow_t[Russia - Moscow]" %}
Texts_t={% trans "#Texts_t[Texts]" %}
TermsAndConditions_t={% trans "#TermsAndConditions_t[Terms and conditions]" %}
latvia_t={% trans "#latvia_t[Latvia]" %}
AltMoreInfo_t={% trans "#AltMoreInfo_t[Click for more information]" %}
dcterms_isFormatOf_t={% trans "#dcterms_isFormatOf_t[Is format of]" %}
portuguese_t={% trans "#portuguese_t[Portuguese (por)]" %}
SeeAllRelatedItems_t={% trans "#SeeAllRelatedItems_t[See all related items]" %}
All_t={% trans "#All_t[All]" %}
Accessibility_t={% trans "#Accessibility_t[Accessibility]" %}
luxemburgish_t={% trans "#luxemburgish_t[Luxemburgish (ltz)]" %}
Next_t={% trans "#Next_t[Next]" %}
AggregatorExplain_t={% trans "#AggregatorExplain_t[*An aggregator collects material from a range of other contributors, displays it on their own website and also channels it into Europeana.]" %}
LanguagePolicy_t={% trans "#LanguagePolicy_t[Language policy]" %}
SearchSavedFailed_t={% trans "#SearchSavedFailed_t[Saving search failed]" %}
Title_t={% trans "#Title_t[Title]" %}
AltLogoEuropeana_t={% trans "#AltLogoEuropeana_t[logo Europeana think culture]" %}
dcterms_conformsTo_t={% trans "#dcterms_conformsTo_t[Conforms to]" %}
MyCodeOfConductRequired_t={% trans "#MyCodeOfConductRequired_t[You must agree to our code of conduct to register for My Europeana]" %}
dc_type_t={% trans "#dc_type_t[Type]" %}
uk_t={% trans "#uk_t[United Kingdom]" %}
georgia_t={% trans "#georgia_t[Georgia]" %}
serbian_t={% trans "#serbian_t[Serbian (scc)]" %}
EnewsOptin_t={% trans "#EnewsOptin_t[Keep me in touch with new developments to Europeana]" %}
icelandic_t={% trans "#icelandic_t[Icelandic (ice)]" %}
liechtenstein_t={% trans "#liechtenstein_t[Liechtenstein]" %}
FinishRegistration_t={% trans "#FinishRegistration_t[Finish registration]" %}
Tagging_t={% trans "#Tagging_t[Tagging]" %}
azerbaijan_t={% trans "#azerbaijan_t[Azerbaijan]" %}
belgium_t={% trans "#belgium_t[Belgium]" %}
Password_t={% trans "#Password_t[Password]" %}
EmailSendFailed_t={% trans "#EmailSendFailed_t[Email could not be sent]" %}
ViewWithoutLabels_t={% trans "#ViewWithoutLabels_t[View without labels]" %}
AboutUs_t={% trans "#AboutUs_t[About us]" %}
spanish_t={% trans "#spanish_t[Spanish (esp)]" %}
hungary_t={% trans "#hungary_t[Hungary]" %}
dc_source_t={% trans "#dc_source_t[Source]" %}
UserTags_t={% trans "#UserTags_t[User tags]" %}
PartnerExplain_t={% trans "#PartnerExplain_t[This is the network of partners who collaborated to make Europeana happen, and who represent Europeana in their countries and professional associations.]" %}
ByUserTag_t={% trans "#ByUserTag_t[By user tag]" %}
AltPreviousPage_t={% trans "#AltPreviousPage_t[click here for previous page of results]" %}
ContributorExplain_t={% trans "#ContributorExplain_t[These are the organisations that are contributing content - digitised paintings, books, broadcasts etc. Some of these contributors are  aggregators*, Culture.fr is the largest aggregator, providing content from about 480 organisations in France, including the Louvre and the Musée d’Orsay. The number of organisations contributing to an aggregator is shown in brackets after the aggregator’s name, e.g. Videoactive (10)]" %}
ViewInOriginalContext_t={% trans "#ViewInOriginalContext_t[View in original context]" %}
ShareWithAFriend_t={% trans "#ShareWithAFriend_t[Share with a friend]" %}
denmark_t={% trans "#denmark_t[Denmark]" %}
Reset_t={% trans "#Reset_t[Reset]" %}
Image_t={% trans "#Image_t[Image]" %}
RegisterAgain_t={% trans "#RegisterAgain_t[Register again]" %}
UsernameInUse_t={% trans "#UsernameInUse_t[is in use. Please choose another username]" %}
TagAdded_t={% trans "#TagAdded_t[Tag added]" %}
Timeline_t={% trans "#Timeline_t[Timeline]" %}
NoSavedSearches_t={% trans "#NoSavedSearches_t[No saved searches]" %}
Previous_t={% trans "#Previous_t[Previous]" %}
italian_t={% trans "#italian_t[Italian (ita)]" %}
ForgotPassword_t={% trans "#ForgotPassword_t[I forgot my password]" %}
RefineYourSearch_t={% trans "#RefineYourSearch_t[Refine your search]" %}
TagAdditionFailed_t={% trans "#TagAdditionFailed_t[Tag addition failed]" %}
BrowseThroughTime_t={% trans "#BrowseThroughTime_t[Browse through time]" %}
latvian_t={% trans "#latvian_t[Latvian (lav)]" %}
SavedTags_t={% trans "#SavedTags_t[Saved tags]" %}
dc_relation_t={% trans "#dc_relation_t[Relation]" %}
serbia_t={% trans "#serbia_t[Serbia]" %}
dcterms_provenance_t={% trans "#dcterms_provenance_t[Provenance]" %}
Remove_t={% trans "#Remove_t[Remove]" %}
LoggedInAs_t={% trans "#LoggedInAs_t[Logged in as]" %}
dcterms_references_t={% trans "#dcterms_references_t[References]" %}
EmailUse_t={% trans "#EmailUse_t[You will use your email together with your password to log into the site]" %}
Sound_t={% trans "#Sound_t[Sound]" %}
FundedBy_t={% trans "#FundedBy_t[co-funded by the European Union]" %}
AltHome_t={% trans "#AltHome_t[Click here to return to the Europeana homepage]" %}
DateSaved_t={% trans "#DateSaved_t[Date saved]" %}
UserNameChoose_t={% trans "#UserNameChoose_t[Choose a username]" %}
PeopleAreCurrentlyThinkingAbout_t={% trans "#PeopleAreCurrentlyThinkingAbout_t[People are currently thinking about]" %}
Videos_t={% trans "#Videos_t[Videos]" %}
Bytype_t={% trans "#Bytype_t[By type]" %}
SignIn_t={% trans "#SignIn_t[Sign in]" %}
AddATag_t={% trans "#AddATag_t[Add a tag]" %}
OrBoolean_t={% trans "#OrBoolean_t[or]" %}
Error_t={% trans "#Error_t[Error]" %}
finnish_t={% trans "#finnish_t[Finnish (fin)]" %}
ItemSaveFailed_t={% trans "#ItemSaveFailed_t[Save item failed]" %}
Username_t={% trans "#Username_t[Username]" %}
iceland_t={% trans "#iceland_t[Iceland]" %}
germany_t={% trans "#germany_t[Germany]" %}
Less_t={% trans "#Less_t[Less]" %}
ItemDetails_t={% trans "#ItemDetails_t[Item details]" %}
RememberMe_t={% trans "#RememberMe_t[Remember me on this computer]" %}
EmailSent_t={% trans "#EmailSent_t[Email sent]" %}
dc_identifier_t={% trans "#dc_identifier_t[Identifier]" %}
ByProvider_t={% trans "#ByProvider_t[By provider]" %}
norway_t={% trans "#norway_t[Norway]" %}
ByCountry_t={% trans "#ByCountry_t[By country]" %}
france_t={% trans "#france_t[France]" %}
EmailFormatError_t={% trans "#EmailFormatError_t[Please make sure your email is correctly formatted and try again]" %}
russian_t={% trans "#russian_t[Russian (rus)]" %}
bosniaAndHerzegovina_t={% trans "#bosniaAndHerzegovina_t[Bosnia and Herzegovina]" %}
PleaseFollowTheLinkProvided_t={% trans "#PleaseFollowTheLinkProvided_t[Please follow the link provided in the email and finish the registration process]" %}
Contacts_t={% trans "#Contacts_t[Contacts]" %}
FirstName_t={% trans "#FirstName_t[First name]" %}
dcterms_replaces_t={% trans "#dcterms_replaces_t[Replaces]" %}
lithuanian_t={% trans "#lithuanian_t[Lithuanian (lit)]" %}
poland_t={% trans "#poland_t[Poland]" %}
HideAdvancedSearch_t={% trans "#HideAdvancedSearch_t[Hide advanced search]" %}
dcterms_isPartOf_t={% trans "#dcterms_isPartOf_t[Is Part of]" %}
Add_t={% trans "#Add_t[Add]" %}
estonia_t={% trans "#estonia_t[Estonia]" %}
polish_t={% trans "#polish_t[Polish (pol)]" %}
Delete_t={% trans "#Delete_t[Delete]" %}
NoSavedItems_t={% trans "#NoSavedItems_t[No saved items]" %}
switzerland_t={% trans "#switzerland_t[Switzerland]" %}
ukraine_t={% trans "#ukraine_t[Ukraine]" %}
dc_description_t={% trans "#dc_description_t[Description]" %}
Of_t={% trans "#Of_t[of]" %}
RequiredField_t={% trans "#RequiredField_t[This is a required field]" %}
UserConduct_t={% trans "#UserConduct_t[User Conduct]" %}
bulgaria_t={% trans "#bulgaria_t[Bulgaria]" %}
Video_t={% trans "#Video_t[Video]" %}
Subject_t={% trans "#Subject_t[Subject]" %}
ShareYourIdeas_t={% trans "#ShareYourIdeas_t[Share your ideas]" %}
ViewingRelatedItems_t={% trans "#ViewingRelatedItems_t[You are viewing related items]" %}
slovenian_t={% trans "#slovenian_t[Slovenian (slv)]" %}
Results_t={% trans "#Results_t[Results]" %}
EnterYourEmail_t={% trans "#EnterYourEmail_t[Enter your email]" %}
Country_t={% trans "#Country_t[Country]" %}
dc_contributor_t={% trans "#dc_contributor_t[Contributor]" %}
AnEmailHasBeenSentTo_t={% trans "#AnEmailHasBeenSentTo_t[An email has been sent to the following address]" %}
NewContent_t={% trans "#NewContent_t[New content]" %}
hungarian_t={% trans "#hungarian_t[Hungarian (hun)]" %}
slovak_t={% trans "#slovak_t[Slovak (slo)]" %}
greece_t={% trans "#greece_t[Greece]" %}
SavedItems_t={% trans "#SavedItems_t[Saved items]" %}
RelatedContent_t={% trans "#RelatedContent_t[Related content]" %}
ThisIsEuropeana_t={% trans "#ThisIsEuropeana_t[This is Europeana]" %}
dc_format_t={% trans "#dc_format_t[Format]" %}
AltListView_t={% trans "#AltListView_t[List view]" %}
estonian_t={% trans "#estonian_t[Estonian (est)]" %}
CreateAccount_t={% trans "#CreateAccount_t[Create an account]" %}
PasswordExplain_t={% trans "#PasswordExplain_t[Passwords must be 6-30 characters in length]" %}
norwegian_t={% trans "#norwegian_t[Norwegian (nor)]" %}
turkey_t={% trans "#turkey_t[Turkey]" %}
Sounds_t={% trans "#Sounds_t[Sounds]" %}
TimelineNavigator_t={% trans "#TimelineNavigator_t[Timeline navigator]" %}
Creator_t={% trans "#Creator_t[Creator]" %}
Sitemap_t={% trans "#Sitemap_t[Sitemap]" %}
More_t={% trans "#More_t[More]" %}
swedish_t={% trans "#swedish_t[Swedish (sve/swe)]" %}
albania_t={% trans "#albania_t[Albania]" %}
portugal_t={% trans "#portugal_t[Portugal]" %}
lastName_t={% trans "#lastName_t[Last name]" %}
italyFlorence_t={% trans "#italyFlorence_t[Italy-Florence]" %}
SavedSearches_t={% trans "#SavedSearches_t[Saved searches]" %}
SearchSaved_t={% trans "#SearchSaved_t[Search saved]" %}
Partner_t={% trans "#Partner_t[Partner]" %}
NotBoolean_t={% trans "#NotBoolean_t[not]" %}
UserNameExplain_t={% trans "#UserNameExplain_t[Your username will be displayed when you have logged in]" %}
FromOurParnters_t={% trans "#FromOurParnters_t[From our partner museums, archives, libraries and audio-visual collections]" %}
InvalidQuery_t={% trans "#InvalidQuery_t[Invalid query]" %}
spain_t={% trans "#spain_t[Spain]" %}
cyprus_t={% trans "#cyprus_t[Cyprus]" %}
greek_t={% trans "#greek_t[Greek (ell/gre)]" %}
dcterms_temporal_t={% trans "#dcterms_temporal_t[Temporal coverage]" %}
dc_coverage_t={% trans "#dc_coverage_t[Coverage]" %}
croatian_t={% trans "#croatian_t[Croatian (hrv)]" %}
german_t={% trans "#german_t[German (deu)]" %}
dcterms_requires_t={% trans "#dcterms_requires_t[Requires]" %}
NoItemsFound_t={% trans "#NoItemsFound_t[No items found]" %}
russiaStPetersburg_t={% trans "#russiaStPetersburg_t[Russia - Saint Petersburg]" %}
AdvancedSearch_t={% trans "#AdvancedSearch_t[Advanced search]" %}
dc_creator_t={% trans "#dc_creator_t[Author]" %}
dcterms_alternative_t={% trans "#dcterms_alternative_t[Alternative Title]" %}
Send_t={% trans "#Send_t[Send]" %}
dc_title_t={% trans "#dc_title_t[Title]" %}
dcterms_isReferencedBy_t={% trans "#dcterms_isReferencedBy_t[Is referenced by]" %}
FeatureDisabled_t={% trans "#FeatureDisabled_t[This feature is currently disabled.]" %}
Bydate_t={% trans "#Bydate_t[By date]" %}
YouHaveSearchFor_t={% trans "#YouHaveSearchFor_t[You have searched for]" %}
SaveToMyEuropeana_t={% trans "#SaveToMyEuropeana_t[Save to My Europeana]" %}
IAgree_t={% trans "#IAgree_t[I agree]" %}
Sector_t={% trans "#Sector_t[Sector]" %}
Register_t={% trans "#Register_t[Register]" %}
AnyField_t={% trans "#AnyField_t[Any field]" %}
RepeatPassword_t={% trans "#RepeatPassword_t[Repeat password]" %}
ItemSaved_t={% trans "#ItemSaved_t[Item saved]" %}
EmailWelcome_t={% trans "#EmailWelcome_t[Welcome to MyEuropeana]" %}
LogOut_t={% trans "#LogOut_t[Log out]" %}
moldova_t={% trans "#moldova_t[Moldova]" %}
ThoughtLab_t={% trans "#ThoughtLab_t[Thought lab]" %}
romanian_t={% trans "#romanian_t[Romanian (rom)]" %}
dc_subject_t={% trans "#dc_subject_t[Subject]" %}
netherlands_t={% trans "#netherlands_t[Netherlands]" %}
dcterms_spatial_t={% trans "#dcterms_spatial_t[Spatial coverage]" %}
EmailEuropeanaTeam_t={% trans "#EmailEuropeanaTeam_t[The Europeana Team]" %}
dcterms_isReplacedBy_t={% trans "#dcterms_isReplacedBy_t[Is replaced by]" %}
Actions_t={% trans "#Actions_t[Actions]" %}
LogIn_t={% trans "#LogIn_t[Login]" %}
AltTableView_t={% trans "#AltTableView_t[Table view]" %}
EnterValidEmail_t={% trans "#EnterValidEmail_t[Please enter a valid email address]" %}
UsingEuropeana_t={% trans "#UsingEuropeana_t[Using Europeana]" %}
ViewWithLabels_t={% trans "#ViewWithLabels_t[View with labels]" %}
RegistrationFailed_t={% trans "#RegistrationFailed_t[An error occurred while trying to process your registration. Please try again]" %}
Privacy_t={% trans "#Privacy_t[Privacy]" %}
ReturnToResults_t={% trans "#ReturnToResults_t[Return to results]" %}
danish_t={% trans "#danish_t[Danish (dan)]" %}
MyCodeOfConduct_t={% trans "#MyCodeOfConduct_t[I understand that My Europeana gives me the opportunity to create tags for any item I wish. I agree that I will not create any tags that could be considered libelous, harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, pornographic, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable. By clicking this box I agree to abide by this agreement, and understand that if I don't my membership of My Europeana will be terminated.]" %}
FeedbackResponse_t={% trans "#FeedbackResponse_t[Thank you very much for your feedback. If your feedback requires a response a member of the Europeana team will get back to you as soon as possible. For faster response feedback should be submitted in English.]" %}
ByLanguage_t={% trans "#ByLanguage_t[By language]" %}
dc_date_t={% trans "#dc_date_t[Date]" %}
Contributor_t={% trans "#Contributor_t[Contributor]" %}
AndBoolean_t={% trans "#AndBoolean_t[and]" %}
PasswordChoose_t={% trans "#PasswordChoose_t[Choose a password]" %}
lithuania_t={% trans "#lithuania_t[Lithuania]" %}
MyEuropeana_t={% trans "#MyEuropeana_t[My Europeana]" %}
sweden_t={% trans "#sweden_t[Sweden]" %}
UserConductAgree_t={% trans "#UserConductAgree_t[I understand that My Europeana gives me the opportunity to create tags for any item I wish. I agree that I will not create any tags that could be considered libelous, harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, pornographic, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable. By clicking this box I agree to abide by this agreement, and understand that if I don't my membership of My Europeana will be terminated. CLICK TO AGREE]" %}
dutch_t={% trans "#dutch_t[Dutch (dut)]" %}
armenia_t={% trans "#armenia_t[Armenia]" %}
czechlanguage_t={% trans "#czechlanguage_t[Czech (cze/cse)]" %}
MatchesFor_t={% trans "#MatchesFor_t[Matches for]" %}
StrorylineCredits_t={% trans "#StrorylineCredits_t[Storyline and credits]" %}
slovenia_t={% trans "#slovenia_t[Slovenia]" %}
ErrorDetails_t={% trans "#ErrorDetails_t[Error details]" %}
Description_t={% trans "#Description_t[Description]" %}
luxembourg_t={% trans "#luxembourg_t[Luxembourg]" %}
ViewAsXML_t={% trans "#ViewAsXML_t[View as XML]" %}
SaveThisSearch_t={% trans "#SaveThisSearch_t[Save this search]" %}
AltNextPage_t={% trans "#AltNextPage_t[Click here for next page of results]" %}
dc_rights_t={% trans "#dc_rights_t[Rights]" %}
Page_t={% trans "#Page_t[Page]" %}
romania_t={% trans "#romania_t[Romania]" %}
Images_t={% trans "#Images_t[Images]" %}
ireland_t={% trans "#ireland_t[Ireland]" %}
UserInformation_t={% trans "#UserInformation_t[User information]" %}
dc_language_t={% trans "#dc_language_t[Language]" %}
LinkExpired_t={% trans "#LinkExpired_t[The link you used to complete registration is invalid or has expired.]" %}
FYROM_t={% trans "#FYROM_t[Former Yugoslav Republic Of Macedonia]" %}
dc_publisher_t={% trans "#dc_publisher_t[Publisher]" %}
dcterms_hasPart_t={% trans "#dcterms_hasPart_t[Has part]" %}
Communities_t={% trans "#Communities_t[Communities]" %}
finland_t={% trans "#finland_t[Finland]" %}
NoSavedTags_t={% trans "#NoSavedTags_t[No saved tags]" %}
EmailClickToConfirm_t={% trans "#EmailClickToConfirm_t[Please click on the following link to confirm your registration]" %}
Partners_t={% trans "#Partners_t[Partners]" %}
Date_t={% trans "#Date_t[Date]" %}
french_t={% trans "#french_t[French (fre)]" %}
Text_t={% trans "#Text_t[Text]" %}
maltese_t={% trans "#maltese_t[Maltese (mlt)]" %}
slovakia_t={% trans "#slovakia_t[Slovakia]" %}
