<div id="main" class="static-page">
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="/portal/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/reset-text-grid.css"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/blue/jquery-ui-1.8.5.custom.css"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/colors.css"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/type.css"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/screen.css"/>
        <link rel="stylesheet" type="text/css" href="/portal/theme/cw/css/print.css" media="print"/>
        <script type="text/javascript">
            var msgRequired = "Dit is een verplicht veld";
            var portalName = "/portal";
            var baseThemePath = "/portal/theme/cw";
        </script>
        <script type="text/javascript" src="/portal/theme/cw/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/portal/theme/cw/js/jquery-ui-1.8.5.custom.min.js"></script>

        <script type="text/javascript" src="/portal/theme/cw/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="/portal/theme/cw/js/jquery.toggleElements.js"></script>
        <script type="text/javascript" src="/portal/theme/cw/js/jquery.validate.js"></script>
        <script type="text/javascript" src="/portal/theme/cw/js/js_utilities.js"></script>
        <script type="text/javascript" src="/portal/theme/cw/js/results.js"></script>
    </head>
    <body>
    <div id="admin-block">
        <h4>Pagina Administratie</h4>

        <p>
            <a href="/portal/_.dml">Paginas bewerken</a>

        </p>
    </div>
    <div class="container_12 page blue">
        <div id="user-bar" class="grid_12">
            <ul class="user_nav">
                <li>
                    Ingelogd als: <strong>eric</strong> | <a
                        href="/portal/logout.html">Uitloggen</a>
                </li>
                <li>
                    <a href="/portal/mine.html" onclick="$.cookie('ui-tabs-3', '1', { expires: 1 });" id="href-saved-items">
                        Bewaarde items </a>

                    (<span id="savedItemsCount">0</span>)
                </li>
                <li>
                    <a href="/portal/mine.html" onclick="$.cookie('ui-tabs-3', '2', { expires: 1 });" id="href-saved-searches">
                        Bewaarde zoekopdrachten </a>
                    (<span id="savedSearchesCount">1</span>)
                </li>
                <li>
                    <a href="/portal/mine.html" onclick="$.cookie('ui-tabs-3', '3', { expires: 1 });" id="href-saved-tags">
                        Bewaarde tags </a>
                    (<span id="savedTagsCount">2</span>)

                </li>
                <li><a href="">Hulp nodig?</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="header">
            <div class="branding">
                <img src="/portal/theme/cw/images/RO_OCW_ICN.png" id="logo-home" alt="ICN" widht="500"/>
            </div>
            <div class="clear"></div>
            <div class="title_bar">
                <div class="grid_12">
                    Instituut Collectie Nederland <em>De Collectie</em>

                </div>
            </div>
            <div class="clear"></div>
            <div class="nav_bar">
                <div class="grid_12">
                    <ul class="nav_main">
                        <li><a href="/portal/index.html">Home</a></li>
                        <li><a href="/portal/digitale-collectie.dml">Over de Digitale Collectie Nederland</a></li>
                        <li><a href="/portal/deelname.dml">Deelname</a></li>
                        <li><a href="/portal/gebruik.dml">Gebruik</a></li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
            <div class="nav_bottom">
            </div>
        </div>
        <div class="grid_6">
            <h2>Bestaande paginas</h2>

            <table summary="List of existing pages">
                <tr>
                    <td width="5">
                        <a href="/portal/home/block1.dml?edit=true"><span class="ui-icon ui-icon-document"></span></a>
                    </td>
                    <td width="300"><a href="/portal/home/block1.dml?edit=true">/portal/home/block1.dml</a></td>
                    <td width="65"><a href="/portal/home/block1.dml?edit=true">Bewerken</a></td>
                    <td width="65">
                        <a class="delete" id="delete_0" href="/portal/home/block1.dml">Verwijder</a>

                    </td>
                </tr>
                <tr>
                    <td width="5">
                        <a href="/portal/home/block2.dml?edit=true"><span class="ui-icon ui-icon-document"></span></a>
                    </td>
                    <td width="300"><a href="/portal/home/block2.dml?edit=true">/portal/home/block2.dml</a></td>
                    <td width="65"><a href="/portal/home/block2.dml?edit=true">Bewerken</a></td>
                    <td width="65">
                        <a class="delete" id="delete_1" href="/portal/home/block2.dml">Verwijder</a>
                    </td>
                </tr>
                <tr>
                    <td width="5">
                        <a href="/portal/home/block3.dml?edit=true"><span class="ui-icon ui-icon-document"></span></a>
                    </td>
                    <td width="300"><a href="/portal/home/block3.dml?edit=true">/portal/home/block3.dml</a></td>

                    <td width="65"><a href="/portal/home/block3.dml?edit=true">Bewerken</a></td>
                    <td width="65">
                        <a class="delete" id="delete_2" href="/portal/home/block3.dml">Verwijder</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid_6">
            <h2>Maak een nieuwe pagina</h2>

            <p>
                Voor het aanmaken van een pagina vul in het pad (als gewenst) en de naam van de nieuwe pagina.
                De naam van de pagina <strong>moet</strong> eindigen met <strong>.dml</strong>

            </p>

            <p>
                Het basis pad <strong>/portal</strong> wordt automatisch aangemaakt. Daarop volgende paden zijn
                niet verplicht maar kunnen wel helpen met het ordennen en overzicht van de paginas.
            </p>

            <form method="get" action="" id="form-makePage" onsubmit="">
                <label><strong>Pagina pad & naam: </strong></label>/portal/&#160;<input type="text" value="" name="pagePath" id="pagePath"/><br/>
                <input type="submit" value="Aanmaken" id="makePage"/>
            </form>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $("#makePage").click(function() {
                pageToMake = $("#pagePath").val() + "?edit=true";
                window.location.href = pageToMake;
                return false;
            });
            $("a.delete").click(function() {
                target = $(this).attr("id");
                targetURL = $(this).attr("href");
                var confirmation = confirm("Pagina: " + targetURL + " verwijderen ?")
                if (confirmation) {
                    $.ajax({
                        url: targetURL,
                        type: "POST",
                        data: "content=",
                        success: function(data) {
                            window.location.reload();
                        },
                        error: function(data) {
                            alert("page could not be deleted");
                        }
                    });
                    return false;
                } else {
                    return false;
                }
            });

        </script>
        <div id="footer">
            <img src="/portal/theme/cw/images/RO_footer.png" alt="" height="25" width="500"/>
        </div>
        <!-- end footer -->
        <div class="clear"></div>
    </div>
    <!-- end container_12 -->
    </body>
    </html>
</div>