<div class="box closed">
    <h4 class="head">Title</h4>
    <p>
        Etiam consequat egestas vehicula. Vivamus augue nulla, aliquam ut blandit et, vestibulum eu ligula. Suspendisse euismod dapibus tellus auctor convallis. Aliquam felis nulla, adipiscing ac ornare vitae, consectetur non odio. Nam in magna sit amet urna malesuada ultricies.
    </p>
</div>