
img.flow { 
	position:absolute;
	top:0;
    left: 0;
    border:none;
    width: auto;
}

h1 {
	text-align:center;
}
a{
	/*color:#fff;*/
}
.clear{
	clear:both;
}
#images{
	visibility:hidden;
    
    }

#loading{
	margin-top:50px;
	text-align:center;
	width:100%;
}
#loading img{
	margin-top:50px;
	position:relative; 
}
#captions{
	font-weight:bold;
	position:relative; 
	text-align:center;
	text-align:center;
	z-index:10000;
	background-color: transparent;
    /*border: 2px solid green;*/
    top: 80px;
}
#scrollbar{
	visibility:hidden;
	position:relative;
    top: 100px;
    border-bottom:1px solid #555;
	z-index:10001;
    /*border: 2px solid gold;*/

}
#slider{
	position:absolute;
	margin-top:-7px;
	margin-left:-7px;
	z-index:10002;
	background-image:url(../images/slider_black.png);
	background-repeat:no-repeat;
	width:14px;
	height:14px;	
	background-color: transparent;
    /*border: 2px solid red;*/
}
#imageflow{
	text-align:center;
    width: 700px;
}

#numinfo {
    position: relative;
    top: 120px;
    /*border: 2px solid gray;*/
}

