#custom-doc{
	width:78.77em;
	*width:76.87em;
	min-width:1032px;
	margin:auto;
	text-align:left;
}
#ft {margin-bottom: 20px; padding-bottom: 20px; margin-top: 3em;}
#hd {height: 40px; position: relative;clear: both; z-index: 10;}
#bd {position: relative; clear: both; z-index: 9;}
/* user-bar
=======================*/
#user-bar {
    padding: 4px 10px;
    text-align: right;
    background: #eaeaea;
    margin:0 0 4px 0;
    position: relative;
    top: 0px;
    }
/* headers
=======================*/
h1 {font-size: 200%; font-weight: bold;}
h2 {font-size: 150%; font-weight: bold;}
h3 {font-size: 125%; font-weight: bold;}
h4 {font-size: 100%; font-weight: bold;}
a:link, ul.point a:link {color: #0000FF; text-decoration: underline;}     /* unvisited link */
a:visited, ul.point a:visited {color: #26a097; text-decoration: underline;}  /* visited link */
a:hover, ul.point a:hover {color: #FF00FF; text-decoration: underline;}   /* mouse over link */
a:active, ul.point a:active {color: #0000FF; text-decoration: underline;}   /* selected link */
strong {font-weight: bold;}

/* globalNav
=======================*/
ul#mainNav {
	float:right;
	list-style: none;
	background-color: transparent;
	margin:0 0 0 0;
	padding: 0 0 0 0;
    position: relative;
}
ul#mainNav li {
	float: left;
	margin: 0 0 2px 1em;
	padding: 0 0 0 0;
	border-bottom: solid 1px #ccc;
	min-width: 90px;
	list-style: none;
}
ul#mainNav a {
	margin: 0 0 0 0;
	padding: 12px 0 0 4px;
	line-height: 1.5;
	text-decoration: none;
	color: #000;
	float: left;
}
ul#mainNav li a {
	min-width: 90px;
	margin-left:0;
}
ul#mainNav a:link, ul a:visited, ul a:active {
	text-decoration: none;
	color: #000;
}
ul#mainNav a:hover {
	color: #000;
	background: #f0f0f0;
	text-decoration: none;
}
ul#mainNav .first a {
	background: #f0f0f0;
}
ul#mainNav li.no-border {
	border-bottom: none;
	margin: 0 0 0 10px;
	padding: 12px 0 0 0;
}
ul#mainNav a.current {
	color: #000;
	background: #f0f0f0;
	text-decoration: none;
}

/* search
=======================*/
#search input.search-input {
	color: #797979;
	width:365px;
	height:22px;
	border: solid 1px #ccc;
	margin: 2px 10px 0 0;
	padding:1px 0;
	cursor:text;
}
#search input, .search select {
	font-size: 1.2em;
	color: #797979;
	margin: 2px 0 0 0;
	cursor:text;
}

#search .button, .button {
	border: 1px solid #ccc;
	background: #fff;
	height: 26px;
	cursor: pointer;
	margin: 2px 0 0 0;
	padding: 0 8px;
	font-weight: bold;
	color: #797979;
}

#search input:focus, textarea:focus {
	background-color: #ffffcc;
}

input.text {
	color: #797979;
	border: solid 1px #ccc;
	margin: 2px 5px 4px 0;
	padding:1px 0;
	cursor:text;
    height: 16px;

}
input.error {border: 1px dotted #FF1493;clear:both;}
label.error {color: #FF1493;}
.button.small {
    padding: 0;
    width: 50px;
    height: 20px;
    font-size: .95em;
    margin: 2px 0 8px 0;
}

#search {
    height: 50px;
	margin-top:50px;
	padding: 0;
}
#search .search_home{
    margin-top:0;
    margin-left: 50px;
}
#search .search_result{
   margin-left: 150px;
}
#search .search_exception{
    margin-left: 150px;
}
#search #search_advanced {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eaeaea;

}
#search #search_advanced.search_home {
    position: absolute;
    top: 150px;
    left: 300px;
}

#search #search_advanced.search_result{
    position: absolute;
    top: 0;
    left: 150px;
}
#tbl_adv_search td {
    padding: 2px;
}
#search a, #search a:link, #search a:visited, #search a:active {
	font-weight:normal;
	font-size: .85em;
	text-decoration: underline;
	color: #000;
}


/* footer
=======================*/

#ft ul {
	margin: 0;
	padding: 0 0 0 0;
	float: left;
	text-align:left;
    width: 100%;
}
#ft ul li {
	margin:0 0 0 0;
	padding: 0 10px 0 0;
	display:inline;
	list-style: none;
	white-space: nowrap;
	min-width: 10px;
	border: none;
    float: left;
    font-size: 0.85em;
}

#ft ul li a {
	line-height:1.2;
	font-weight:normal;

}

#ft a:link, #ft a:visited, #ft a:active {
	text-decoration: none;
	color: #797979;
}
#ft a:hover {
	color: #333;
	background: transparent;
	text-decoration: underline;
}

#ft a.current {
	color: #333;
	background: transparent;
	text-decoration: underline;
}

#ft ul li.signoff {
 	color:#797979;
 	margin:0 0 0 0;
 	border:none;
    float: right;
}

#ft ul li.signoff img {
	margin-bottom:-2px;
	padding-left:5px;
}

/* foreground colors
=======================*/
.fg-gray {color:#999}
.fg-gold {color:#ffcc00;}
.fg-green {color:#26a097;}
.fg-pink {color: #FF1493;}
.fg-red {color: #b22222;}
.fg-white {color:#ffffff;}
/* background colors
=======================*/
.bg-gray {background: #eaeaea;}
.bg-green {background-color:#26a097;}

/* pageLayout
=======================*/
.hide {
    display: none;
}
.msg {
    padding:4px;
    font-size: 90%;
}
.msg-hide {
    display: none;
    padding: 4px;
    background:url(../images/related-grad-bg.gif) 0 0;
    text-align: left;
    font-size: 90%;
}

#mainContent {
    margin: 60px 0 0 60px;
}
#mainContent h1, #yui-main h1 {margin: 30px 0 30px 0; border-bottom: 1px solid #ccc; color:#666;}
#mainContent h2, #yui-main h2 {margin:30px 0 0 0; color: #aaa;}
#mainContent p, #yui-main p {margin: 10px 0;}

/* secondaryContent */
#secondaryContent {}

#secondaryContent ul {
	margin: 0 20px 0 0;
	padding: 0;
	list-style-type: none;
}
#secondaryContent ul.sub {
   margin: 0 0 0 40px;
}
#secondaryContent ul li {
	margin: 0;
	padding: 0.4em 1em 0.4em 0;
	border-bottom:dotted 1px #797979;
	background: url(../images/arrowright.gif) right 10px no-repeat;
}
#secondaryContent ul.sub li {
    background-image:none;
    border-bottom: none;
    list-style-type: disc;
    padding:  0.2em 0 0.2em 0;
}
#secondaryContent ul li a {
	margin: 0;
	padding: 0 0 0.4em 0;
	text-decoration: none;
	color: #000;
	font-size: 0.9em;
}
#secondaryContent ul li a:hover {
	color: #333;
	background:transparent;
	text-decoration: underline;
	cursor: pointer;
}
#secondaryContent h1 {
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 4px 0;
	padding: 0 0 3px 0;
	border-bottom: solid 1px #bdbdbd;
	color: #333;
}
#secondaryContent h2 {
	font-size: 1.6em;
	margin: 0;
}

ul.point, ol.number { margin: 10px 0 10px 22px;}
ul.subpoint {margin: 0 0 0 22px;}
ul.point li {list-style:disc;}
ul.subpoint li {list-style:circle;}
ol.number li {list-style:decimal;}

.attention {
    border: 1px solid #ff6600;
    background: #ffffcc;
    padding: 10px;
    margin-bottom: 10px;
}
    .tblList th {
        font-weight: bold;
        color: #fff;
        background: #666;
        text-align: center;
        border-right: 1px solid #fff;
        padding: 0.25em;
        font-size: 1em;
    }
    .tblList td {
        font-size: .85em;
        line-height: 1.5em;
    }
    #tblContributors th {
        background: #26a097;
    }
    #tblPartners th {
        background: #FF1493;
    }
    .tblList td {
        padding: 0.25em;
        border-bottom: 1px solid #ccc;
    }