/* hide/show
=======================*/
#leftOptions{
float:left;
width:180px;
min-height:50px;
height:auto;
background:url(../images/related-grad-bg.gif) 0 0 repeat-x;
margin:20px 0 0 0;
padding:10px 8px 0 2px;
color:#333;
}

/*#leftOptions input {*/
 /*width: 100px;*/
 /*border: 1px solid #ccc;*/
 /*height: 22px;*/
/*}*/
/*#leftOptions .button {*/
    /*width: 50px;*/
     /*height: 24px;*/
/*}*/

#leftOptions h3{
font-size:100%;
font-weight:bold;
margin:10px 0 0 0;
padding:4px 0 4px 0;
}

#leftOptions h3.linetop{
border-bottom:none;
padding:4px 0 4px 0;
}

#html #leftOptions h3.linetop{
padding:4px 0 4px 0;
}

#leftOptions p{
font-size:85%;
/*margin:4px 0 15px 0;*/
    margin:4px 0 0 0;
}
#leftOptions .facetTable {
    /*margin:0 0 15px 0;*/
    margin:0;
}
#leftOptions a:link, #leftOptions a:visited {
    color: #333;
    text-decoration: none;
}

#leftOptions .facetTable a:link, #leftOptions .facetTable a:visited, #leftOptions .facetTable a:hover {
font-size: 85%;
text-decoration: none;
color: #333;
}

#leftOptions a.toggler-closed, #leftOptions a.toggler-opened {
padding:6px 0 2px 0;
}
#leftOptions input{
vertical-align:middle;
}

#leftOptions .related-links p.linetop{
border-top:solid 1px #ccc;
padding:6px 0 4px 0;
}
#leftOptions .related-links p {
margin:2px 0 2px 0;
padding:6px 0 4px 0;
border-bottom: 1px solid #ccc;
}

#leftOptions .related-links p a,
#leftOptions .related-links p a:link,
#leftOptions .related-links p a:visited,
#leftOptions .related-links p a:hover{
background:url('../images/arr-right.gif');
background-position:right 50%;
background-repeat:no-repeat;
text-decoration:none;
display:block;
font-weight:normal;
font-size:110%;
color: #333;
}

#leftOptions .related-links p a.disabled,
#leftOptions .related-links p a.disabled:link,
#leftOptions .related-links p a.disabled:visited,
#leftOptions .related-links p a.disabled:hover{
background:url('../images/arr-right.gif');
background-position:right 50%;
background-repeat:no-repeat;
text-decoration:none;
display:block;
font-weight:normal;
font-size:110%;
color: #ccc;
}

.msg-hide a, .msg-hide a:link, .msg-hide a:active, .msg-hide a:visited {
background:#ff none; width: auto;
    font-size: 90%;
}

#leftOptions .related-links p a:hover{
 text-decoration:underline;
}

#leftOptions ul {
    margin-left: 5px; font-size: 87.5%;
}
#leftOptions ul li {
    padding: 4px 0 2px 0;
}

/* Toggler - default style */

.toggler {
   margin:0;
    cursor:pointer;
    text-decoration: none;
    font-size: 1em;
    font-weight:normal;
    line-height:1;
    display: block;
    border-top:solid 1px #ccc;
}

#leftOptions .toggler-c { padding-bottom: 20px;}

.toggler-c h4 {font-size: .85em; margin: 0 0 2px 0;}

.toggler-closed {
    color:#333;
    padding:0;
    height:16px;
    background: transparent url('../images/expand-purp.gif') center right no-repeat;

}
.toggler-closed:hover {
    color: #000;
    padding:0;
    height:16px;
    background: transparent url('../images/expand-purp.gif') center right no-repeat;
}
.toggler-opened {
    color:#333;
    padding:0;
    height:16px;
    background: transparent url('../images/collapse-purp.gif') center right no-repeat;
}
.toggler-opened:hover {
    color: #000;
    padding:0;
    height:16px;
    background: transparent url('../images/collapse-purp.gif') center right no-repeat;
    text-decoration: none;
}

/* toggler overriede */

#leftOptions.full .toggler-closed {
    /*color:#333;*/
    /*padding:0;*/
    /*height:16px;*/
    background: transparent url('../images/expand-green.gif') center right no-repeat;

}
#leftOptions.full .toggler-closed:hover{
    /*color: #000;*/
    /*padding:0;*/
    /*height:16px;*/
    background: transparent url('../images/expand-green.gif') center right no-repeat;
}
#leftOptions.full .toggler-opened {
    /*color:#333;*/
    /*padding:0;*/
    /*height:16px;*/
    background: transparent url('../images/collapse-green.gif') center right no-repeat;
}
#leftOptions.full .toggler-opened:hover {
    /*color: #000;*/
    /*padding:0;*/
    /*height:16px;*/
    background: transparent url('../images/collapse-green.gif') center right no-repeat;
}

/* Container - default style */

.toggler-c-closed {
    background:transparent;
    border:none;
    margin:0;
    padding:0;
}
.toggler-c-opened {
    background:transparent;
    border:none;
    margin:0;
    padding:0;
}

