@charset "utf-8";
/* IE7 conditionals */
#top {width: 100%; height:200px;}
#middle {width: 100%; height: 60px;}
#bottom {width: 100%; height: 200px;}

.pagination .nav#brief {
        left: 210px;
}
.pagination .nav#full {
    left: 340px;
}

.printpage{
  margin: -14px 4px 0 0 !important;
}

#secondaryContent {
    bottom: 20px;
}

.printpage {
    top: 14px;
}

#item-detail{
    width:475px;
}
.printpage {
    position: absolute;
    right: 0;
/*    margin: 4px 4px 0 0 !important;
    margin: -21px 4px 0 0;*/
    padding: 8px 0 0 0;
    width: 80px;
}