.tblList th {
    font-weight: bold;
    color: #fff;
    background: #666;
    text-align: center;
    border-right: 1px solid #fff;
    padding: 0.25em;
    font-size: 1em;
}
.tblList td {
    font-size: .85em;
    line-height: 1.5em;
}
#tblContributors th {
    background: #26a097;
}
#tblPartners th {
    background: #FF1493;
}
.tblList td {
    padding: 0.25em;
    border-bottom: 1px solid #ccc;
    }