/** Add css rules here for your application. */
body {
    margin: 10px;
}

button {
    display: block;
    font-size: 16pt
}

.widePanel {
    width: auto;
}

#dashboardMain {
    width: 800px;
}

.collectionName {
    font-weight: bolder;
}

.formTitle {
    font-weight: bolder;
}

.actionLink {
    font-weight: bold;
    text-decoration: underline;
}

.translationChanged {
    font-size: large;
    background-color: yellow;
}

.translationUnchanged {
    background-color: white;
}

.languageLabel {
    font-size: large;
    width: 20px;
}

.collectionClose {
    font-size: small;
    text-decoration: underline;
}

.gwt-Tree .gwt-TreeItem {
    padding: 0;
}

.loggedInAs {
    font-size: x-large;
    font-weight: bold;
}

.loginMessage {
    color: firebrick;
}

.errorMessage {
    color: firebrick;
    font-weight: bold;
}

.peek {
    border-style: dashed;
    border-width: 1px;
    border-color: red;
    background-color: pink;
}

.gwt-DecoratorPanel {
    table-layout: fixed;
}

.gwt-DecoratorPanel .topLeft, .gwt-DecoratorPanel .topRight {
    width: 5px;
}

.editedValue {
    background-color: yellow;
}
