<table border="1">
      <th>id</th>
      <th><a href="{% url uri_stats 'name_or_ip' %}">Name</a></th>
      <th><a href="{% url uri_stats 'imgs_waiting' %}">waiting</a></th>
      <th><a href="{% url uri_stats 'imgs_ok' %}">ok</a></th>
      <th><a href="{% url uri_stats 'imgs_bad' %}">bad</a></th>
      <th>ratio</th>
    {% for uri_source in uri_sources %}
    <tr>
        <td>{{ uri_source.id }}</td>
        <td>{{ uri_source.name }}</td>
        <td>{{ uri_source.waiting }}</td>
        <td>{{ uri_source.good }}</td>
        <td><a href="{% url uri_problems uri_source.id %}">{{ uri_source.bad }}</a></td>
        <td>{{ uri_source.ratio }}</td>
    </tr>
    {% endfor %}
</table>


{% comment %}
      <th><a href="{% url uri_stats 'eta' %}">eta</a></th>
        <td>{{ uri_source.eta|default:"&nbsp;"}}</td>
{% endcomment %}