{% extends "base.html" %}

{% block title %}Bad by request{% endblock %}

{% block content %}

<ul>
  <li><a href="{% url top_index %}">Start</a>
  <li><a href="{% url uri_stats_by_req request.session.req_filter.req_id %}">Back to request overview</a>
</ul>


<h3>{{ req }}</h3>

<h3>Problematic items, filtered on: {{ filter_label }}</h3>

<p>
Found {{ item_count }} items matching filter
</p>

{% include "plug_uris/snippets/navigator.html" %}

<table border="1">
  <th>uri id</th>
  <th>url</th>
  <th>status</th>
  <th>error</th>
  <th>err msg</th>
  {% for problem in problems %}
    <tr>
      <td>{{ problem.uri_id }}</td>
      <td>{{ problem.url }}</td>
      <td>{{ problem.status }}</td>
      <td>{{ problem.errname }}</td>
      <td>{{ problem.err_msg }}</td>
    </tr>
  {% endfor %}
</table>

{% include "plug_uris/snippets/navigator.html" %}



{% endblock %}


{% comment %}
{% endcomment %}
