{% extends "base.html" %}

{% block title %}Stats one request{% endblock %}

{% block content %}

<a href="{% url uri_stats_idx %}">Statistics</a>

<h2>{{ request }}</h2>


{% if mime_results %}
  <h3>Grouped by mimetype</h3>
  <table border="1">
    <th>mimetype</th>
    <th>Good</th>
    <th>Bad</th>
    <th>Ratio</th>
    {% for mime_result in mime_results %}
      <tr>
        <td>{{ mime_result.name }}</td>
        <td>{{ mime_result.ok }}</td>
        <td>
        {% if mime_result.bad %}
          <a href="{% url uri_bad_by_req_mime request.pk mime_result.mime_url %}">{{ mime_result.bad }}</a>
        {% else %}
          0
        {% endif %}
        </td>
        <td>{{ mime_result.ratio }}</td>
      </tr>
    {% endfor %}
  </table>
{% endif %}



{% if err_by_reasons %}
  <h3>Grouped by error</h3>
  <table border="1">
    <th>Error</th>
    <th>Count</th>
    {% for err_by_reason in err_by_reasons %}
      <tr>
        <td>{{ err_by_reason.err_msg }}</td>
        <td>
        {% if webserver.bad %}
          <a href="{% url uri_bad_by_req_err request.pk err_by_reason.err_code %}">{{ err_by_reason.count }}</a>
        {% else %}
          0
        {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}



<h3>Grouped by webserver</h3>
<table border="1">
  <th>name or ip</th>
  <th>Items</th>
  <th>Good</th>
  <th>Bad</th>
  <th>Ratio</th>
  {% for webserver in webservers %}
    <tr>
      <td>{{ webserver.name }}</td>
      <td>{{ webserver.count }}</td>
      <td>{{ webserver.good }}</td>
      <td>
        {% if webserver.bad %}
          <a href="{% url uri_bad_by_req request.pk %}">{{ webserver.bad }}</a>
        {% else %}
          0
        {% endif %}
      </td>
      <td>{{ webserver.ratio }}</td>
    </tr>
  {% endfor %}
</table>







{% endblock %}


{% comment %}
{% endcomment %}
