{% extends "base.html" %}

{% block title %}Stats by request{% endblock %}

{% block content %}

<a href="{% url uri_stats_idx %}">Statistics</a>

<h2>Grouped by request</h2>

<table border="1">
      <th>Name</th>
      <th>Count</th>
      <th>Waiting</th>
      <th>Verified</th>
      <th>Bad images</th>
    {% for req_info in requests %}
    <tr>
        <td><a href="{% url uri_stats_by_req req_info.request.pk %}">{{ req_info.request }}</a></td>
        <td>{{ req_info.count }}</td>
        <td>{{ req_info.waiting }}</td>
        <td>{{ req_info.ok }}</td>
        <td>{{ req_info.bad }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}


{% comment %}
{% endcomment %}
