{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript">
   // we will add our javascript code here



</script>
{% endblock %}

{% block content %}

<a href="">Link</a>


<h2>Summary</h2>

Images waiting to be processed: {{ summary.imgs_waiting }}<br>
Images done: {{ summary.imgs_ok }}<br>
Images with problems: {{ summary.imgs_bad }}<br>

<h2>Grouped by uri source</h2>
{% include "plug_uris/snippets/tbl_stats_by_source.html" %}

{% endblock %}


{% comment %}
{% endcomment %}
