{% extends "base.html" %}

{% block content %}

<h2>Summary</h2>

Images waiting to be processed: {{ summary.imgs_waiting }}<br>
Images done: {{ summary.imgs_ok }}<br>
Images with problems: {{ summary.imgs_bad }}<br>

<h2>Grouped by uri source</h2>
    <table border="1">
          <th>id</th>
          <th><a href="{% url uri_stats 'name_or_ip' %}">Name</a></th>
          <th><a href="{% url uri_stats 'imgs_waiting' %}">waiting</a></th>
          <th><a href="{% url uri_stats 'imgs_ok' %}">ok</a></th>
          <th><a href="{% url uri_stats 'imgs_bad' %}">bad</a></th>
          <th><a href="{% url uri_stats 'eta' %}">eta</a></th>
        {% for uri_source in uri_sources %}
        <tr>
            <td>{{ uri_source.id }}</td>
            <td>{{ uri_source.name_or_ip }}</td>
            <td>{{ uri_source.imgs_waiting }}</td>
            <td>{{ uri_source.imgs_ok }}</td>
            <td><a href="{% url uri_problems uri_source.id %}">{{ uri_source.imgs_bad }}</a></td>
            <td>{{ uri_source.eta|default:"&nbsp;"}}</td>
        </tr>
        {% endfor %}
    </tabls>
{% endblock %}
