org.mongo.mongod2.plist<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.mongo.mongod-arbiter</string>
        <key>RunAtLoad</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/local/bin/mongod</string>
            <string>--dbpath</string>
            <string>/opt/local/var/db/mongodb</string>
            <string>--logpath</string>
            <string>/opt/local/var/log/mongodb.log</string>
            <string>--port</string>
            <string>27019</string>
            <string>--replSet</string>
            <string>delving</string>
        </array>
    </dict>
</plist>

